
<div class="kontrol container-fluid border border-primary rounded p-2
            min-vh-50">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <a class="navbar-brand pt-1" href="#">{{ title }}</a>
    
    <div class="collapse navbar-collapse justify-content-end" >
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"
             routerLinkActive="active">Home
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/trigger"
             routerLinkActive="active">Trigger
          </a>
        </li>
      </ul>
      
      <span class="navbar-text">
        <a ngbPopover="{{ version }}" placement="left" routerLink="/home">
          About
        </a>
      </span>     
      
    </div>
  </nav>
   
  <router-outlet></router-outlet>
  
  <app-messages
     style="height: 50px;" class="pt-4 d-flex justify-content-center">
  </app-messages>

</div>
