
<div class="p-2 d-flex flex-row border border-secondary">

  <div class="m-2 d-flex flex-column border border-primary">
    
    <div class="p-2 d-flex justify-content-center">
      <h3>Working days wake Up</h3>
    </div>

    <div ng-controller="WakeUpCtrl">
      <div ng-model="wakeUpTime" ng-change="change()"
           style="display:inline-block;width:10em; margin:1em">
        <timepicker tooltip-placement="left" tooltip="Hour : Minute"
                    hour-step="1" minute-step="1" show-meridian="false">
        </timepicker>
      </div>
      

      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"
               id="customSwitches" ng-click="toggle()" ng-model="wakeUp">
      </div>
      
      <div>
        <button type="button" class="btn btn-secondary btn-sm m-2"
                ng-disabled=unchanged
                ng-model="wakeUp" ng-click="validate()" value="running">
          Validate
        </button>
      </div>
    </div>
  </div>

  <div class="m-2 d-flex flex-column border border-primary">
    
    <div class="p-2 d-flex justify-content-center">
      <h3>Every days alarm</h3>
    </div>

    <div ng-controller="AlarmCtrl">
      <div ng-model="alarmTime" ng-change="change()">
        <timepicker tooltip-placement="left" tooltip="Hour : Minute"
                    hour-step="1" minute-step="1" show-meridian="false">
        </timepicker>
      </div>
      
      <div>     
        <switch id="enabled" on="set" off="" ng-click="toggle()"
                tooltip="Enable or disable the cronjob."
                ng-model="alarm" class="mini">
        </switch><br>
      </div>
      
      <div>     
        <button type="button" class="btn btn-secondary btn-sm m-2"
                ng-disabled=unchanged
                ng-model="alarm" ng-click="validate()" value="running">
          Validate
        </button>
      </div>
      
    </div>
  </div>

</div>

