
<div class="d-flex p-2 flex-column border border-dark rounded"
     ng-controller="MainCtrl">

  <div>
    <form name="OnOff" ng-controller="OnOffCtrl">
      <div class="d-flex flex-row justify-content-center">
        
        <span class="m-2" ng-class= "{true: 'on', false: 'off'}[running]"
              tooltip="The selected radio station">
          {{stationName}}
        </span>

        <button
           type="button" class="btn btn-secondary btn-sm m-2"
           tooltip="Switch on or off the radio !"
           ng-model="button" ng-click="setOnOff()" value="running">
          {{onOff}}
        </button>

      </div>
    </form>
  </div>
  
  <div  class="d-flex flex-row" ng-controller="VolumeCtrl">
    <input type="range" ng-model="volume" ng-mouseup="setVolume()"
           class="custom-range m-2" min="0" max="150"
           id="customRange2">
    <div class="m-2 w-75 width:200px;">
      <span>Volume:&nbsp;{{volume}}&nbsp;%</span> 
    </div>
  </div>
  
  <div class="m-2">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr ng-repeat="s in stations">
          <td class="text-body">
            <a ng-click="$parent.selectRadio($index)">{{s.name}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
