
<div class="kontrol container-fluid border border-primary rounded p-2
            min-vh-50">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <a class="navbar-brand" href="#">{{ title }}</a>
    
    <div class="collapse navbar-collapse justify-content-end" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" placement="left">About</a>
        </li>
      </ul>
    </div>
  </nav>
  
<div class="d-flex mt-4 justify-content-center">
  <app-station></app-station>
  <app-radio></app-radio>
  
</div>
 
</div>
