
<div class="kontrol container-fluid border border-primary rounded p-2
            min-vh-50">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <a class="navbar-brand pt-1" href="#">{{ title }}</a>
    
    <div class="collapse navbar-collapse justify-content-end" >
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/radio"
             routerLinkActive="active">Radio
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/state"
             routerLinkActive="active">State
          </a>
        </li>
      </ul>
      
      <span class="navbar-text">
        <a class="" href="#">About</a>
      </span>     
      
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
  <div class="d-flex mt-4 justify-content-center">
    <app-station></app-station>
    <app-radio></app-radio>
    
  </div>
  
</div>
