<div class="d-flex mt-4 justify-content-center">

  <div class="my-auto lead">
    <span class=" text-info">Time</span>
  </div>
  
  <ngb-timepicker class="m-2 p-2" (click)="onChange()" [(ngModel)]="alarmTime">
  </ngb-timepicker>
  
  <div class="custom-control custom-switch my-auto mx-2"
       style="width: 10%">
    <input type="checkbox" class="custom-control-input"
           id="triggerStatus" (click)="onSwitch()"
           [(ngModel)]="alarmSet" />
    <label class="custom-control-label text-danger" for="triggerStatus">
      {{ triggerStatus }}
    </label>
  </div>

   <div class="custom-control custom-checkbox my-auto mx-2">
      <input type="checkbox" class="custom-control-input"
             id="weCheck" (click)="onToggle()"
           [(ngModel)]="weIncluded" />
      <label class="custom-control-label text-danger" for="weCheck">
        {{ weStatus }}
      </label>
    </div>  
</div>
