<div class="d-flex flex-row justify-content-center">
  
  <div>
    <label class="control-label m-2">Time</label>
    <label class="control-label m-2">06:45</label>
  </div>

  <div class="custom-control custom-checkbox m-2">
    <label class="custom-control-label" for="alarm">Alarm</label>
    <input type="checkbox" class="custom-control-input"
           id="alarm" checked="">
  </div>
  
  <div class="custom-control custom-checkbox m-2">
    <label class="custom-control-label" for="we">Week-End</label>
    <input type="checkbox" class="custom-control-input"
           id="we" checked="">
  </div>
  
</div>
