
<div class="d-flex flex-row justify-content-center m-2">
  
  <div>
    <label class="control-label m-2 text-info">Wake up time</label>
    <label class="control-label m-2">06:45</label>
  </div>

  <div class="custom-control custom-checkbox m-2">
    <input type="checkbox" class="custom-control-input"
           id="alarm" [(ngModel)]="alarmSet"  disabled="">
    
    <label class="custom-control-label text-danger" for="alarm">
      alarm set
    </label>
  </div>
  
  <div class="custom-control custom-checkbox m-2">
    <input type="checkbox" class="custom-control-input" id="we"
           [(ngModel)]="weIncluded" disabled="">
    
    <label class="custom-control-label text-danger" for="we">
      week-end
    </label>
  </div>
  
</div>
