<div class="d-flex m-3 p-2 ">
  
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input"
           id="onOff" (click)="onSwitch()" [(ngModel)]="onOff"/>
    <label class="custom-control-label text-danger" for="onOff">{{
    status }}</label>
  </div>
  
   
  <div class="ml-4">
    <input type="range" class="custom-range"
           [value]="10.0" [(ngModel)]="volume" (change)="onChange(volume)"
           min="0" max="100" id="volume"/>
  </div>
  
  <div class="ml-1" ngbTooltip="volume">
    <span class="badge badge-pill text-secondary">{{ volume }}</span>
  </div>

</div>
