/* ----------------------------------------------------------------------- */
/*
 * CSS for the Fonteny pages - Jean-Paul Le Fèvre - March 2020
 */
/* ----------------------------------------------------------------------- */

.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link:hover {
  color: #000;
}

/* ----------------------------------------------------------------------- */
