<div class="m-2 p-2" style="width:200px;">

  <div ngbDropdown class="d-inline-block" style="width:50px;">
    <button class="btn btn-outline-primary"
            id="dropdownStations" ngbDropdownToggle> {{ station.name }}
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownStations">

      <div *ngFor="let station of stations; let idx = index">

        <button ngbDropdownItem id="station" (click)="onSelect(idx)">
          {{ station.name }}
        </button>

      </div>
    </div>
  </div>
</div>

