  
<div class="w-50 m-2 mt-4 p-2 border border-primary rounded">
  
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary"
              id="dropdownStations" ngbDropdownToggle>Selected station
      </button>
      
      <div ngbDropdownMenu aria-labelledby="dropdownStations">
        
        <div *ngFor="let station of stationList">
          
          <button ngbDropdownItem id="station" (click)="onSelect(station)">
            {{ station }}
          </button>
          
        </div>
      </div>
    </div>

</div>
